.button {
  &--callout {
    @extend %button;
    margin: 5px;
    background-color: $color--secondary;
  }

  &--info {
    @extend %button;
    margin: 5px;
    background-color: $color--primary;
  }
}
